@page
@model GestionEstudiantes.Pages.EstudiantesModel
@using EstudiantesCore.Dtos
@using EstudiantesCore.Entidades
@{ }

@Html.AntiForgeryToken()
@using DevExtreme.AspNet.Mvc

<div class="divalumnos">

    <div class="card">

        <div class="card-body">

            <div id="divgrid">

                <h1>Estudiantes Matriculados</h1>

                <div>
                    @(Html.DevExtreme().Button().Text("Nuevo Estudiante").Type(ButtonType.Default).Icon("add").OnClick("EsconderGrid").Type(ButtonType.Default))
                </div>


                @(Html.DevExtreme().DataGrid<Estudiante>()
    .ID("TableEstudiantes")
    //.Editing(s=>s.AllowAdding(true).AllowUpdating(true).AllowDeleting(true).UseIcons(true).Mode(GridEditMode.Form))
    .ShowRowLines(true)
    .RemoteOperations(d => d.Paging(true).Filtering(true))
    .Export(s => s.Enabled(true))
    .RowAlternationEnabled(true)
    .ShowBorders(true)
    .ShowColumnLines(true)
    .FilterRow(s => s.Visible(true))
    .ShowRowLines(true)
    .OnRowExpanding("Expading")
    .AllowColumnReordering(true)
    .AllowColumnResizing(true)
    .ColumnAutoWidth(true)
    .Paging(s => s.Enabled(true).PageSize(15))
    .Pager(s => s.AllowedPageSizes(new List<int>
    { 5, 10, 15 }).ShowNavigationButtons(true).ShowPageSizeSelector(true))
    .SearchPanel(d => d.Visible(true))
    .DataSource(s => s.RemoteController().LoadUrl("/Estudiantes?handler=AllEstudiante").OnBeforeSend("MandarDataEstudiante").Key("Id"))
    .NoDataText("No se encontraron Estudiantes según los filtros seleccionados")
    .OnSelectionChanged("SeleccionFila")
    .Selection(s => s.Mode(SelectionMode.Multiple).AllowSelectAll(true).SelectAllMode(SelectAllMode.AllPages))
    .ElementAttr("class", "tablaSiot altoHeader posicionTabla")
    .OnRowClick(@<text>
            function (e)
            {
            Obtener_Grid_Pretramites_Liquidacion(e);
            }
        </text>)
    .Columns(s=>
    {
        s.AddFor(q => q.TipoDocumento.Id).Caption("Tipo de documento").Lookup(q => q.DataSource(f => f.RemoteController().LoadUrl("/Estudiantes?handler=TipoDocumento").Key("Id")).ValueExpr("Id").DisplayExpr("Nombre"));
        s.AddFor(q => q.Documento).Caption("Documento");
        s.AddFor(q => q.Nombre).Caption("Nombres");
        s.AddFor(q => q.Apellido).Caption("Apellidos");
        s.AddFor(q => q.Estado.Id).Caption("Estado").Lookup(h => h.DataSource(f => f.RemoteController().LoadUrl("/Estudiantes?handler=EstadoEstudiante").Key("Id")).DisplayExpr("Nombre").ValueExpr("Id"));
        s.Add().Visible(true)
        .Type(GridCommandColumnType.Buttons)
        .Width(110).Buttons(b =>
        {
            //Icons: DevExtreme - JavaScript UI Components for Angular ...
            b.Add().Icon("edit").Hint("Editar").OnClick("EditarEstudianteFromGrid");
            b.Add().Icon("info").Hint("Detalle").OnClick("VerEstudianteFromGrid");
            b.Add().Icon("trash").Hint("Eliminar").OnClick("EliminarEstudiante");

        });

    }).MasterDetail(d => d.AutoExpandAll(false).Enabled(true).Template(new TemplateName("DetalleEstudiante")))
    )

            </div>

            <div style="display:none" id="divformulario">
                @(await Html.PartialAsync("/Pages/PartialViews/_formestudiante.cshtml"))
            </div>
        </div>
    </div>


</div>

<div class="m-3">
    <div class="btn-group">
        @(Html.DevExtreme().Button().Text("Cancelar Estudiantes").Type(ButtonType.Default).Icon("remove").ID("BtnCancelar").OnClick("CancelarEstudiantes").Type(ButtonType.Default))
    </div>

    <div class="btn-group">
        @(Html.DevExtreme().Button().Text("Matricular Estudiantes").Type(ButtonType.Default).Icon("add").ID("BtnMatricular").OnClick("PermitirMatricular").Type(ButtonType.Default))
    </div>

    <div class="btn-group">
        @(Html.DevExtreme().Button().Text("Egresar Estudiantes").Type(ButtonType.Default).Icon("arrowright").ID("BtnEgresar").OnClick("EgresarEstudiantes").Type(ButtonType.Default))
    </div>
</div>



@using (Html.DevExtreme().NamedTemplate("DetalleEstudiante"))
{@(Html.DevExtreme().TabPanel()
        .SelectedIndex(0)
        .ID("Tappanel")
        .Loop(false)
        .AnimationEnabled(true)
        .SwipeEnabled(true)
        .Items(item2 =>
        {

            item2.Add().Icon("add").Title("Materias").Template(@<text> @(await Html.PartialAsync("/Pages/PartialViews/_Materias.cshtml")) </text>);
            //item2.Add().Icon("add").Title("Materias").Template(@<text> @(await Html.PartialAsync("/Pages/PartialViews/_MateriasActivas.cshtml")) </text>);
            item2.Add().Icon("add").Title("Notas").Template(@<text> @(await Html.PartialAsync("/Pages/PartialViews/_notas.cshtml")) </text>);

        })
    )}



@(Html.DevExtreme().Popup()
                .ID("documentos_popup")
                .ShowTitle(true)
                .Title("Documentos Requeridos para la Matricula")
                .Visible(false)
                .DeferRendering(false)
                .DragEnabled(true)
                .Width(800)
                .Height(600)
                .CloseOnOutsideClick(true)
                .ContentTemplate(
                @<text>
                    <div>
                        @(await Html.PartialAsync("/Pages/PartialViews/_Documentos.cshtml"))
                    </div>
                </text>)
    )
                    








@section Scripts
    {
    <script src="~/js/Estudiantes.js"></script>
    <script src="~/js/scrollPopUps.js"></script>
}
